.card {
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #151515!important;
    color: white;
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: white!important;
}
